beautifulsoup4==4.9.3
certifi==2022.12.7
chardet==4.0.0
Click==7.1.2
htmlmin==0.1.12
idna==2.10
Jinja2==3.1.2
jsmin==3.0.1
livereload==2.6.3
Markdown==3.3.3
MarkupSafe==2.1.2
mkdocs==1.4.2
mkdocs-markdownextradata-plugin==0.2.5
mkdocs-material==9.1.8
mkdocs-minify-plugin==0.6.4
Pillow==9.3.0
Pygments==2.15.1
pymdown-extensions==10.0
PyYAML==5.4.1
requests==2.29.0
six==1.15.0
soupsieve==2.2
tornado==6.1
urllib3==1.26.5
-e plugins/atlas-link-checker
-e plugins/mkdocs-atlas-formatting-plugin
