click==6.7
htmlmin==0.1.12
Jinja2==2.10
jsmin==2.2.2
livereload==2.5.2
Markdown==3.0.1
MarkupSafe==1.0
mkdocs==1.0.4
mkdocs-material==4.4.0
mkdocs-minify-plugin==0.2.1
Pygments==2.2.0
pymdown-extensions==4.12
PyYAML==3.13
six==1.11.0
tornado==5.1
