beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==4.0.0
Click==7.1.2
htmlmin==0.1.12
idna==2.10
Jinja2==2.11.3
jsmin==3.0.0
livereload==2.6.3
Markdown==3.3.3
MarkupSafe==1.1.1
mkdocs==1.1.2
mkdocs-markdownextradata-plugin==0.2.1
mkdocs-material==6.2.8
mkdocs-minify-plugin==0.4.0
Pillow==8.3.2
Pygments==2.7.4
pymdown-extensions==8.1.1
PyYAML==5.4.1
requests==2.25.1
six==1.15.0
soupsieve==2.2
tornado==6.1
urllib3==1.26.5
-e plugins/atlas-link-checker
-e plugins/mkdocs-atlas-formatting-plugin
