name: release

on:
  push:
    branches:
      - master
      - main
jobs:
  deploy:
    if: ${{ github.repository == 'Netflix/atlas-docs' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'zulu'

      - uses: actions/setup-python@v5
        with:
          python-version: '3'

       - name: Install system dependencies for Pillow
         run: sudo apt-get update && sudo apt-get install -y libjpeg-dev zlib1g-dev

      - run: pip install -r requirements.txt

      - run: git fetch origin gh-pages:gh-pages

      - run: mkdocs gh-deploy
